@import '@/styles/colors.scss';
.container {
	font-size: 32px;
	margin-bottom: 86px;
}
.title {
	position: relative;
	font-size: 32px;
	line-height: 41.14px;
	letter-spacing: 0;
	text-align: left;
}
.title::after {
	content: '';
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 520px;
	height: 2px;
	background-color: $grey;
}
.wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	flex-wrap: wrap;
}
