@import '@/styles/colors.scss';

.container {
	height: 500px;
}

:export {
	redColor: $chart-candlestick-red;
	greenColor: $chart-candlestick-green;
	greyColor: $chart-grid-grey;
	lightGreyColor: $chart-light-grey;
}
