@import '@/styles/colors.scss';
@import '@/styles/sizes.scss';

.menuWrapper {
	flex-basis: 40%;
	display: flex;
	justify-content: space-between;
}

.menuContainer {
	display: flex;
	gap: $gap-size-l;

	@media screen and (max-width: 600px) {
		flex-direction: column;
		gap: $gap-size-s;
	}
}

.menuSection {
	display: flex;
	flex-direction: column;
}

.menuTitle {
	color: $white-font;
	font-size: $font-size-xxl;
	font-weight: $font-weight-normal;
	line-height: $line-height-l;
	letter-spacing: 0;
	text-align: left;
	margin-bottom: $sizes-xxl;
	@media screen and (max-width: 600px) {
		margin-bottom: $sizes-l;
		font-size: $font-size-xl;
	}
}

.menuTitleLight {
	color: $black-font;
}

.menuItem {
	color: $dark-grey-font;
	font-family: Inter, serif;
	font-size: $font-size-xxl;
	font-weight: $font-weight-normal;
	line-height: $line-height-xvl;
	letter-spacing: 0;
	text-align: left;
	margin-bottom: $sizes-xxl;

	@media screen and (max-width: 600px) {
		margin-bottom: $sizes-m;
		font-size: $font-size-l;
		line-height: $line-height-xl;
	}
}

.menuItemLight {
	color: $dark-grey-font;
}
