@import '@/styles/colors.scss';
@import '@/constants/sizes.scss';

.calendar {
	width: 300px;

	font-family: Arial, sans-serif;

	table {
		width: 100%;
		border-collapse: collapse;

		th {
			padding: $sizes-m;
			background-color: $light-background;
			text-align: center;
		}

		td {
			padding: $sizes-m;
			text-align: center;
			cursor: pointer;
			color: $white;

			&:hover {
				background-color: $grey-font;
			}
		}

		.current-month {
			font-weight: bold;
		}

		.selected {
			background-color: $green;
			color: $white;
			font-weight: bold;
		}
	}

	button {
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: $font-size-m;
		margin: 0 $sizes-sl;
		padding: $sizes-sl;
		outline: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
