@import '@/styles/sizes.scss';
@import '@/styles/colors.scss';

$position-top: 20px;
$position-right: 20px;

.container {
	position: fixed;
	top: $position-top;
	right: $position-right;
	width: $container-width-xl;
	height: $sizes-xxxl;
	background-color: $light-grey;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $border-radius-m;
	animation: slideIn 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
}

@keyframes slideIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.text {
	text-align: center;
	font-size: $font-size-l;
	font-weight: $font-weight-normal;
	color: $white-font;
}

.hide {
	opacity: 0;
	transition: opacity 2s ease-in-out;
}
