$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xvl: 34px;
$font-size-xxvl: 65px;

//paddings, margins
$sizes-sl: 5px;
$sizes-m: 10px;
$sizes-l: 15px;
$sizes-xl: 20px;
$sizes-xxl: 30px;
$sizes-xxxl: 60px;
$sizes-xvs: 80px;
$sizes-xvl: 100px;
