$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xvl: 34px;
$font-size-xxvl: 65px;

$padding-sl: 5px;
$padding-m: 10px;
$padding-l: 15px;
$padding-xl: 20px;
$padding-xxl: 30px;
$padding-xxxl: 60px;
$padding-xvs: 80px;
$padding-xvl: 100px;
