$header-gradient-begin: #247940;
$header-gradient-end: #121212;

$white-font: #ffffff;
$light-grey-font: #d9d9d9;
$grey-font: #a7b2c3;
$dark-grey-font: #898989;
$black-font: #000000;

$title-gradient-begin: #00ce2c;
$title-gradient-middle: #aedf23;
$title-gradient-end: #a3dc00;

$light-grey: #989898;
$grey: #474747;
$white: #ffffff;
$black: #000000;
$green: #00bc4f;
$dark-grey: #202025;
$dark-background: #030304;
$light-background: #ffffff;
$input-background: #1b2028;
$hover-input-background: #2b3340;
