$header-gradient-begin: #247940;
$header-gradient-end: #121212;

$white-font: #ffffff;
$light-grey-font: #d9d9d9;
$grey-font: #a7b2c3;
$dark-grey-font: #898989;
$black-font: #000000;

$title-gradient-begin: #00ce2c;
$title-gradient-middle: #aedf23;
$title-gradient-end: #a3dc00;

$light-grey: #989898;
$grey: #474747;
$white: #ffffff;
$black: #000000;
$green: #00bc4f;
$dark-grey: #202025;
$dark-background: #030304;
$light-background: #ffffff;
$input-background: #1b2028;
$hover-input-background: #2b3340;

$chart-candlestick-red: rgba(234, 57, 67);
$chart-candlestick-green: rgba(22, 199, 130);
$chart-grid-grey: rgba(71, 71, 71, 0.5);
$chart-light-grey: rgb(128, 128, 128);
$chart-candlestick-blue: rgb(81, 82, 208);
$chart-crosshair-orange: rgb(180, 80, 19);
