@import './colors';
@import '@/styles/sizes.scss';
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: $dark-background;
	color: $grey-font;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: $font-weight-thin;
}

a {
	color: $white;
	text-decoration: none;
}
a:hover {
	color: $grey-font;
}

ul {
	list-style: none;
}
