@import './colors';

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	//height: 100%;
	background-color: $dark-background;
	color: $grey-font;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

a {
	color: $white;
	text-decoration: none;
}
a:hover {
	color: $grey-font;
}

ul {
	list-style: none;
}
