//fonts
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xvl: 34px;
$font-size-xxvl: 65px;

//line-height
$line-height-s: 14px;
$line-height-l: 16px;
$line-height-xl: 22px;
$line-height-xxl: 26px;
$line-height-xvl: 36px;
$line-height-xxvl: 40px;
$line-height-xvvl: 50px;
$line-height-xvvll: 65px;

//fonts weight
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-extra-bold: 800;

//paddings, margins
$sizes-sl: 5px;
$sizes-m: 10px;
$sizes-l: 15px;
$sizes-xl: 20px;
$sizes-xxl: 30px;
$sizes-xxxl: 60px;
$sizes-xvs: 80px;
$sizes-xvl: 100px;
$sizes-xvvl: 200px;
$sizes-rev: -15px;

//gap
$gap-size-s: 5px;
$gap-size-sm: 10px;
$gap-size-m: 15px;
$gap-size-l: 20px;
$gap-size-xl: 40px;
$gap-size-xxl: 60px;
$gap-size-xxxl: 80px;
$gap-size-xvl: 100px;

//border radius

$border-radius-s: 5px;
$border-radius-sm: 8px;
$border-radius-m: 10px;
$border-radius-l: 15px;
$border-radius-xl: 25px;
$border-radius-xxl: 30px;

//border
$border-s: 1px;
$border-m: 2px;
$border-l: 3px;

//width
$container-width-xvv: 650px;
$container-width-xv: 520px;
$container-width-xxl: 450px;
$container-width-xll: 400px;
$container-width-xl: 350px;
$container-width-l: 300px;
$container-width-s: 250px;
$container-width-sm: 200px;

//containerheight
$container-height-xxl: 650px;
$container-height-xv: 520px;
$container-height-xxl: 450px;
$container-height-xll: 400px;
$container-height-xl: 350px;
$container-height-l: 300px;
$container-height-s: 250px;
$container-height-sm: 200px;

//input
$height-input-s: 20px;
$height-input-m: 30px;
$height-input-l: 40px;
$width-input-s: 20px;
$width-input-m: 30px;
$width-input-l: 40px;

//radio
$width-s: 20px;
$width-m: 30px;
$width-l: 40px;
$width-xl: 60px;
