@import '@/styles/colors.scss';
@import '@/styles/sizes.scss';

.container {
	padding: $sizes-sl;
}

.containerDark {
	color: $black-font;
	background-color: $light-background;
}

.control {
	gap: $gap-size-sm;

	@media screen and (max-width: 700px) {
		flex-direction: column;
	}
}

.select {
	padding: $sizes-m $sizes-m;
	border: none;
	margin-bottom: $sizes-m;
	margin-right: $sizes-xl;
	font: inherit;
	font-size: $font-size-xxl;
	outline: none;
	border-radius: $border-radius-l;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
	}

	&Dark {
		background-color: $input-background;
	}

	@media screen and (max-width: 500px) {
		padding: $sizes-sl 0;
	}
}

.button {
	padding: $sizes-m $sizes-m;
	border: none;
	margin-right: $font-size-xxl;
	font: inherit;
	margin-bottom: $sizes-m;
	font-size: $font-size-xxl;
	outline: none;
	border-radius: $border-radius-l;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		transform: scale(1.05);
	}

	&Dark {
		background-color: $input-background;
	}
}

.containerItem {
	margin-top: $sizes-xxl;
}

.chart {
	padding: $sizes-m;
}
