@import '@/styles/colors.scss';
@import '@/styles/sizes.scss';
.contactBlock {
	display: flex;

	@media screen and (max-width: 700px) {
		flex-direction: column;
	}

	&Content {
		background-color: $dark-grey;
		gap: $gap-size-l;
		width: $container-width-xl;
		padding: $sizes-xl;
		margin: $sizes-xl;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: $border-radius-m;

		&Dark {
			background-color: $light-grey-background;
		}

		&Title {
			font-size: $font-size-xl;
		}

		&Text {
			color: $grey-font;

			&Dark {
				color: $dark-grey;
			}
		}

		&Link {
			color: $green;
			transition: all 0.3s linear;
		}

		&Link:hover {
			cursor: pointer;
		}
	}
}
