@import '@/styles/colors';
@import '@/styles/sizes.scss';

$position-top: 50px;
$max-height: 135px;

.inputContainer {
	position: relative;
	width: $container-width-xxl;
	margin: 0 auto;

	@media screen and (max-width: 450px) {
		width: 100%;
	}
}

.title {
	margin-bottom: $sizes-xl;
	font-weight: $font-weight-normal;
	font-size: $font-size-xvl;
	color: $white-font;
	text-align: center;

	&Dark {
		color: $dark-grey-font;
	}

	@media screen and (max-width: 500px) {
		font-size: $font-size-xl;
	}
}

.input {
	width: 100%;
	padding: $sizes-m $sizes-l;
	border: $border-s solid $black;
	font: inherit;
	font-size: $font-size-xl;
	font-weight: $font-weight-normal;
	outline: none;
	border-radius: $border-radius-sm;

	color: $black-font;
	background-color: $white;

	&DarkTheme {
		color: $light-grey-font;
		background-color: $input-background;
	}
}

.currencyList {
	position: absolute;
	top: $position-top;
	left: 0;
	width: 100%;
	max-height: $max-height;
	height: auto;
	color: $black-font;
	background-color: $white;
	overflow: auto;
	z-index: 100;
	transition: all 0.3s linear;
	cursor: pointer;

	&DarkTheme {
		color: $light-grey-font;
		background-color: $input-background;
	}

	&Item {
		padding: $sizes-m $sizes-l;

		&:hover {
			background-color: $light-grey;
		}

		&Button {
			width: 100%;
			height: 100%;
			border: none;
			font: inherit;
			text-align: left;
			outline: none;
			background-color: transparent;
			color: $black-font;
			cursor: pointer;

			&DarkTheme {
				color: $light-grey-font;
			}
		}

		&DarkTheme {
			&:hover {
				background-color: $hover-input-background;
			}
		}
	}
}
