@import '@/styles/colors';
@import '@/styles/sizes.scss';

.title {
	color: $white-font;
	margin-bottom: $sizes-l;
}

.modalWrapper {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb($black, 0.5);
}

.modal {
	position: relative;
	width: $container-width-xv;
	height: $container-height-xv;
	padding: $sizes-xxxl;
	border-radius: $border-radius-m;
	background-color: $dark-background;

	@media screen and (max-width: 500px) {
		width: 100%;
		border-radius: 0;
		padding: $sizes-xxl $sizes-l;
	}
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: $sizes-l;
}

.input {
	width: 100%;
	padding: $sizes-m $sizes-l;
	border: none;
	margin-bottom: $sizes-l;
	margin-right: $sizes-l;
	font: inherit;
	font-size: $font-size-xxl;
	outline: none;
	border-radius: 15px;

	&:disabled {
		background-color: $light-background;
	}

	@media screen and (max-width: 500px) {
		width: 60%;
		padding: $sizes-sl $sizes-m;
	}
}

.symbol {
	font-size: $font-size-xxl;
	color: $light-grey-font;
}

.closeButton {
	position: absolute;
	bottom: 10%;
	left: 50%;
	padding: $sizes-m $sizes-l;
	border: none;
	font: inherit;
	font-size: $font-size-xxl;
	outline: none;
	border-radius: $border-radius-l;
	transform: translateX(-50%);
	cursor: pointer;
	transition: all 0.3s linear;

	&:hover {
		transform: translateX(-50%) scale(1.05);
	}
}

.select {
	padding: $sizes-m 0;
	border: none;
	margin-right: $sizes-xl;
	font: inherit;
	font-size: $font-size-xxl;
	outline: none;
	border-radius: $border-radius-l;
	cursor: pointer;

	@media screen and (max-width: 500px) {
		padding: $sizes-sl 0;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	appearance: textfield;
	-moz-appearance: textfield;
}
