@import '@/styles/colors.scss';
@import '@/styles/sizes';

$container-height: 120px;
$icon-width: 80px;
$icon-width-s: 30px;
$icon-height: 30px;
$icon-height-s: 80px;
$height: 62px;

.container {
	height: $container-height;
	padding: $sizes-l;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	border: $border-s solid $grey;
	border-radius: $border-radius-sm;
	background: $black;
	margin-bottom: $sizes-xxxl;

	&:hover {
		transform: scale(1.05);
		cursor: pointer;
	}

	@media screen and (max-width: 750px) {
		padding: $sizes-l;
		justify-content: center;
		width: $container-width-xxl;
		margin-bottom: $sizes-xxl;
	}

	@media screen and (max-width: 500px) {
		width: $container-width-s;
		justify-content: center;
		height: $height;
		margin-bottom: $sizes-l;
	}
}
.disabled {
	&:hover {
		transform: scale(1);
		cursor: default;
	}
}
.containerBlock {
	display: flex;
	align-items: center;
	@media screen and (max-width: 750px) {
		width: $container-width-xl;
	}
	@media screen and (max-width: 500px) {
		width: $container-width-sm;
	}
}

.containerBlockIcon {
	display: flex;
	align-items: center;
	width: $icon-width;
	height: $icon-height;
	@media screen and (max-width: 500px) {
		width: $icon-width-s;
		height: $icon-height-s;
	}
}

.containerBlockData {
	display: flex;
	flex-direction: column;
	margin-left: $sizes-xxl;
	width: $container-width-l;
	@media screen and (max-width: 600px) {
		margin-left: $sizes-l;
	}
}

.containerBlockDataUpperText {
	color: $light-grey-font;
	font-size: $font-size-xxl;
	font-weight: $font-weight-normal;
	line-height: $line-height-xvvl;
	letter-spacing: 0;
	text-align: left;
	@media screen and (max-width: 500px) {
		font-size: $font-size-m;
		line-height: $line-height-xl;
	}
}

.containerBlockDataUpperTextDark {
	color: $black-font;
}

.containerBlockDataLowerText {
	color: $grey-font;
	font-size: $font-size-xl;
	line-height: $line-height-xxvl;
	letter-spacing: 0;
	text-align: left;
	@media screen and (max-width: 500px) {
		font-size: $font-size-s;
		line-height: $line-height-xxl;
	}
}

.containerDark {
	background: $light-grey-background;
}

.containerBlockDataLowerTextDark {
	color: $dark-grey-font;
}
