@import '@/styles/colors';
@import '@/styles/sizes.scss';

$width-icon: 40px;
$height-icon: 40px;
$width-nav: 657px;
$height-nav: 44px;
$height: 103px;
$width-selector: 60px;
$position-top: 10px;
$position-right: 10px;
$height-link: 40px;

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1460px;
	margin: 0 auto;
	@media screen and (max-width: 800px) {
		width: $container-width-xvv;
	}

	@media screen and (max-width: 500px) {
		width: $container-width-xll;
	}
}

.container {
	width: 100%;
	height: $height;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 600px) {
		width: 100%;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
	}

	&Image {
		width: $width-icon;
		height: $height-icon;
	}

	&NavList {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: $width-nav;
		height: $height-nav;
		@media screen and (max-width: 700px) {
			font-size: $font-size-l;
			display: none;
			width: 100%;
		}
	}

	&NavItem {
		display: flex;
		align-items: center;
		font-size: $font-size-xl;
		font-weight: $font-weight-thin;
		height: $height-nav;

		@media screen and (max-width: 600px) {
			font-size: $font-size-l;
		}
		@media screen and (max-width: 600px) {
			font-size: $font-size-l;
		}
	}

	&NavItemLight {
		color: $black-font;

		:hover {
			color: $dark-grey-font;
		}
	}

	&SelectorTheme {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		background-color: transparent;
		border: $border-m solid $black;
		width: $width-selector;
		border-radius: $border-radius-l;

		&DarkTheme {
			border: $border-m solid $white;

			input:checked {
				border-color: $white;
			}
		}

		.input {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			outline: none;
			margin: 0;
			cursor: pointer;
			width: $width-input-m;
			height: $height-input-m;
			border-radius: 50%;
			border: $border-m solid transparent;

			&:checked {
				border-color: $black;
			}
		}
	}
}

.closeBurger {
	position: absolute;
	top: $position-top;
	right: $position-right;
}

.link {
	display: flex;
	align-items: center;
	font-size: $font-size-xl;
	font-weight: $font-weight-thin;
	height: $height-link;

	&Dark {
		color: $black-font;
	}
}

.menu {
	justify-content: center;
	font-size: $font-size-xl;
	font-weight: $font-weight-bold;
	@media screen and (min-width: 701px) {
		display: none;
	}
}
