@import '@/styles/colors';
@import '@/constants/sizes.scss';


.container {
	padding-top: $padding-xxxl;
	padding-bottom: $padding-xvs;
	display: flex;
	align-items: center;
	background: linear-gradient(
		45deg,
		$header-gradient-begin,
		$header-gradient-end
	);


	&Content {
		width: 50%;
	}

	&Text {
		margin-left: auto;
		max-width: 60%;
		text-align: center;
		font-size: $font-size-xxl;
	}

	&Title {
		padding-right: $padding-xxxl;
		font-weight: 600;
		font-size: $font-size-xxvl;
		text-align: right;

		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;

		background-image: linear-gradient(
			to right,
			$title-gradient-begin,
			$title-gradient-middle,
			$title-gradient-end
		);
	}

	&ImageBlock {
		width: 50%;
	}

	&Image {
		width: 300px;
		height: 300px;
	}
}

.updatedRow {
	width: 450px;
	margin: 50px auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.updatedText {
	font-size: $font-size-xvl;
}
.dark{
	background: linear-gradient(
									45deg,
									$header-gradient-begin-light,
									$header-gradient-end-light
	);
}