@import '@/styles/colors.scss';
@import '@/styles/sizes.scss';
.wrapper {
	display: flex;
}

.description {
	flex-basis: 60%;
	display: flex;
	flex-direction: column;
	justify-content: start;

	&Text {
		color: $white-font;
		font-size: $font-size-xxl;
		line-height: $line-height-xvl;
		letter-spacing: 0;
		text-align: left;
		@media screen and (max-width: 600px) {
			display: none;
		}

		&Light {
			color: $dark-grey-font;
		}
	}

	&Title {
		background: linear-gradient(
			92.29deg,
			$title-gradient-begin,
			$title-gradient-middle,
			$title-gradient-end
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: $font-size-xxl;
		font-weight: $font-weight-bold;
		line-height: $line-height-xxvl;
		letter-spacing: 0;
		text-align: left;
		margin-bottom: $sizes-xxxl;
		@media screen and (max-width: 800px) {
			font-size: $font-size-xl;
			font-weight: $font-weight-normal;
			line-height: $line-height-xxl;
		}

		@media screen and (max-width: 500px) {
			font-size: $font-size-s;
			font-weight: $font-weight-normal;
			line-height: $line-height-xl;
		}
	}
}
