@import '@/styles/colors.scss';
@import '@/styles/sizes.scss';

.footerContainer {
	width: 100%;
	margin-top: $sizes-xxxl;
	display: flex;
	justify-content: space-between;
}

.footerWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 1460px;
	margin: 0 auto;
	@media screen and (max-width: 800px) {
		width: 100%;
	}

	@media screen and (max-width: 500px) {
		width: 100%;
	}

	.columnWrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: $sizes-xxl;
		@media screen and (max-width: 600px) {
			margin-bottom: $sizes-l;
		}

		@media screen and (max-width: 500px) {
			margin-bottom: $sizes-m;
		}
	}

	.column {
		display: flex;
		flex-direction: column;
	}

	.rights {
		color: $dark-grey-font;
		font-size: $font-size-xxl;
		font-weight: $font-weight-normal;
		text-align: center;
		width: 100%;
		@media screen and (max-width: 600px) {
			font-size: $font-size-m;
		}
	}
}
