@import '@/styles/colors.scss';
.footerContainer {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.footerWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 1460px;
	margin: 0 auto;

	.columnWrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	.column {
		display: flex;
		flex-direction: column;
	}

	.rights {
		color: $dark-grey-font;
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		width: 100%;
	}
}
