@import '@/styles/sizes.scss';
.mapContainer {
	margin-bottom: $sizes-xvvl;
	display: flex;
	flex-direction: column;
	gap: $gap-size-xvl;

	@media screen and (max-width: 700px) {
		margin-bottom: $sizes-xvs;
	}
	@media screen and (max-width: 500px) {
		gap: $gap-size-xxl;
		margin-bottom: $sizes-xxxl;
	}
}
