@import '@/styles/colors.scss';
@import '@/styles/sizes.scss';

.mapContainer {
	height: $container-height-xxl;
	width: 90%;
	color: $dark-background;
	cursor: grab;
	margin: 0 auto;
	@media screen and (max-width: 700px) {
		height: $container-height-xxl;
		width: $container-width-xxl;
	}
	@media screen and (max-width: 500px) {
		height: $container-height-l;
		width: $container-width-l;
	}
}
